<!--Header gave a class to it name as header as well-->
<header class = "header">
    <!--Link to Home Page-->
    <a href = "/" class = "header__logo">ADMIN PANEL</a>
    <!--Navigation-->
    <nav class = "header__nav">
        <ul>
            <li>
                <a href = "/" class = "">HOME</a>
            </li>
            <li>
                <a href = "/about" class = "">ABOUT</a>
            </li>
            <li>
                <a href = "/contact" class = "">CONTACT</a>
            </li>
        </ul>
    </nav>

    <!--Making a Log out button by making div and giving 
    it a class name as header__button and then making a button 
    and also giving it a class name searcbtn-->
    <div class = "header__button">
        <button>
            <a href="/logout">
                LOG OUT 
            </a>
        </button>
    </div>

</header>