<!--Div Class for Search Button-->
<div class = "searchBar">
    <!--Div Contanier-->
    <div class = "container">
        <!--Form for the serach andthe post method-->
      <form action = "/search" method = "POST" class = "search__form" role = "search">
        <!--Input for Serach Button-->
        <input 
          type = "search"
          aria-label = "Seach"
          id = "searchInput"
          name = "searchTerm"
          placeholder = "Seach the site...">
      </form>
      <!--Close-->
      <div id="searchClose">
        CLOSE
    </div>
    </div>
  </div>