<!--Adding Heading 2 of author-->
<h2 class = "author__heading">
    Hi, I'm Ifrah!!
</h2>
<!--Paragraph about intoducing myself-->
<p>As a Year 2 Creative Computing student at Bath Spa University, I’m passionate about blending creativity and technology. Starting with a foundation year, I built a strong base in computing and specialized in cybersecurity, earning certifications from ISC2 and Cisco.</p>
<p>Beyond academics, I work as a freelancer, applying my skills to real-world projects and continuously growing my expertise. I’m excited to keep exploring the intersection of creativity and computing, always open to new challenges and collaborations!</p>
<!--Adding Heading 4 and telling about the projects I did for big companies-->
<h4>
    Check out my other websites to see more of my work!
</h4>
<!--My two famous projects which are still present  and started them in 2023-->
  <a href = "https://www.maidengullymedicalpractice.com.au/" >
      <span>
          Maiden Gully Medical Practice
      </span>
  </a>
<br><br>
  <a href = "https://biomed423.wixsite.com/labslatrobe" >
    <span>
        La Trobe Association of Biomedical Students (LABS)
    </span>
</a>
