<!--Adding Heading 2 of author-->
<h2 class = "author__heading">
    Reach Out To Me!!
</h2>
<!--My two famous projects which are still present  and started them in 2023-->

<ul class="article-ul">
    <li>
        <a href = "mailto:ifrah.imtiaz2612@gmail.com">
          Gmail
        </a>
    </li> 

    <li>
        <a href = "https://www.linkedin.com/in/ifrahimtiaz/?_l=en_US">
            linkedin
        </a>
    </li> 

    <li>
    <a href = "https://github.com/Careless-Loser">
      GitHub
     </a>
   </li> 

  <li>
      <a href = "https://www.instagram.com/12zvm/">
        Instagram
      </a>
  </li> 
  </ul>