<!--Making div class of author-->
<div class = "author">
    <!--Heading 1 and giving it a class-->
  <h1 class = "author__heading">
    Hi, I'm Ifrah!
  </h1> 
  <!--Paragraph and giving it a class as well--> 
  <p class = "author__body">
    Full Stack Developer and Writer
  </p>
</div>

<!--Image-->
<img src="/img/Flowers.jpeg" alt="WHite flower buried in the page" class="hero-image" width="600" height="400">

<!--Section giving it class name as articles-->
<section class="articles">
    <!--Heading 2 and giving it a class-->
    <h2 class="articles__heading">
        Latest Posts
    </h2>

    <ul class="article-ul">
      <!--Post 1-->
    <li>
        <a href = "#">
            <span>
              Post Title
            </span>
            <span class = "article-list__date">
              Date
            </span>
        </a>
    </li> 
    <!--Post 2-->
    <li>
      <a href = "#">
          <span>
            Post Title
          </span>
          <span class = "article-list__date">
            Date
          </span>
      </a>
  </li>  
    </ul>

    <a href = "#" class = "pagination">&lt; View Older Posts</a>

</section>